




<!--<div class="row">-->
<!--  <div class="column" *ngFor="let card of arraystandard">-->

<!--    <mat-card class="card"  >-->

<!--      <mat-card-title >-->
<!--        {{card}}-->
<!--      </mat-card-title>-->

<!--      &lt;!&ndash; TODO: Align the dumb button nicely! &ndash;&gt;-->
<!--      <mat-card-actions >-->
<!--        <button mat-raised-button class="button" (click)="logToConsole(card)" >Submit!</button>-->
<!--      </mat-card-actions>-->


<!--    </mat-card>-->

<!--  </div>-->
<!--</div>-->


<!-- <mat-card-content>Point</mat-card-content> -->
<!-- <mat-card-actions></mat-card-actions> -->
